body, header, nav, div, img, span, h2, p {
  border: 1px solid black;
}

/* This is the styling for the header and its items*/
header {
  border-bottom: 1px solid black;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

#logo span {
  margin-left: 10px;
}

#logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

nav {
  display: inline-block;
}

nav a {
  color: black;
}

nav span {
  margin:0px 10px;
}

/* This is the styling for the main container and its items */
.container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
