header {
  border-bottom: 1px solid black;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

#logo span {
  margin-left: 10px;
}

#logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

nav {
  display: inline-block;
}

nav a {
  color: black;
}

nav span {
  margin:0px 10px;
}
