body, header, nav, div, img, span, h2, h3, p {
  border: 1px solid black;
}

/* This is the styling for the header and its items*/
header {
  border-bottom: 1px solid black;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

#logo span {
  margin-left: 10px;
}

#logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
}

nav {
  display: inline-block;
}

nav a {
  color: black;
}

nav span {
  margin:0px 10px;
}

/* This is the styling for the main container and its items */
.container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.column.large {
  width: 630px;
  flex-grow: 3;
}

.stories {
  display: flex;
}

.S2 {
  padding-right: 10px;
}

.S3 {
  padding-left: 10px;
}

.column.medium {
  width: 300px;
  flex-grow: 2;
}

.column.small {
  width: 240px;
  flex-direction: column;
  flex-grow: 1;
}

.small h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.small p {
  background-color: WhiteSmoke;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin: 0px;
  padding: 10px 15px;
}

.backgroundImage {
  display: flex;
  flex-direction:row;
  height: 300px;
}

h1 {
  font-size: 40px;
}

.backgroundImage h2 {
  font-size: 30px;
}

.backgroundImage h1, .backgroundImage h2 {
  font-family: Georgia;
  font-weight: bold;
  color: white;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.storyMain {
  background-image: url("../images/img-story-main.png");
}

.story1 {
  background-image: url("../images/img-story-1.png");
}

.story2 {
  background-image: url("../images/img-story-2.png");
}

.story3 {
  background-image: url("../images/img-story-3.png");
}

/* This is the styling of the footer and its items */
footer {
  display: flex;
  align-content: center;
  background-color: MediumAquamarine;
  margin: auto;
  padding-top: 50px;
  font-family: Verdana;
  font-size: 12px;
  flex-direction: column;
  height: 300px;
}

.foot-nav {
  display: inline-flex;
  align-items: baseline;
  margin: 0px auto;
}

.foot-nav span {
  padding: 10px;
}

h3 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.copyrights {
  text-align: center;
}
